---
import { getHomePermalink } from '~/utils/permalinks';
import { DOCS } from '~/config';
---

<section class="flex items-center h-full p-16">
	<div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
		<div class="max-w-3xl text-center">
			<h2 class="mb-8 font-bold text-9xl">
				<span class="sr-only">Error</span>
				<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500">404</span>
			</h2>
			<p class="text-3xl font-semibold md:text-3xl">Sorry, we couldn't find this page.</p>
			<p class="mt-4 mb-8 text-lg text-zinc-600 dark:text-zinc-400">
				If you think this page should exist, please
				<a
					id="report404"
					class="underline underline-offset-4 decoration-steel-200 dark:decoration-steel-500 hover:text-primary-600 dark:hover:text-primary-400"
					href={`${DOCS.repo}/issues/new`}>open an issue</a
				>
				 and let us know!
			</p>
			<a href={getHomePermalink()} class="btn ml-4">Back to homepage</a>
		</div>
	</div>
</section>

<script>
	const link = document.getElementById('report404');
	if (link) {
		const title = `404: ${window.location.pathname}`;
		const body = `
404 URL: ${window.location}
Referrer: ${document.referrer}

<!-- Please let us know what you were looking for and where you came from. -->
`;
		link.setAttribute(
			'href',
			`${link.getAttribute('href')}?title=${encodeURIComponent(title)}&body=${encodeURIComponent(body)}`
		);
	}
</script>
